.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0 auto 0 48px;
  padding: 0;
  transition: color 0.7s;
  text-decoration: none;
}

.khan__buy-link:hover {
  opacity: 0.7;
}
